.background {
    background-image: url(images/library_bg.jpg);
    background-repeat: no-repeat;
    background-color: beige;
    height: 267px;
    width: 400px;
    opacity: 0.5;
}

.validationError {
    color: red;
    font-weight: bold;
}

.td {
    border: black;
}
