<!DOCTYPE html>
<html lang=en xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mereteni Library</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="background">

    <div style="text-align: center">
        <h1>Welcome to -> Mereteni Library</h1>
        <br/>
        <p><a style="color: black; font-weight: bold;" th:href="@{/books}">See all books</a></p>
        <p><a style="color: black; font-weight: bold;" th:href="@{/books/add}">Add new book</a></p>
    </div>

</div>
</body>
</html>